<table class="table">

    <thead class="thead-dark"> 
    
        <tr>
            <th>Client</th>
            <th>Date</th>
        </tr>
    </thead>
    
        <tbody>
    
            <tr *ngFor="let s of sales">
                <td>{{s.client}}</td>     
                <td>{{s.date}}</td>          
            </tr>
    
        </tbody>

        

    
    </table>

    <table class="table">

        <thead class="thead-dark"> 
        
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Expiration</th>
                <th>Price</th>
                
            </tr>
        </thead>
        
            <tbody>
        
                <tr *ngFor="let i of items">
                    <td>{{i.product}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.expiration}}</td>
                    <td>{{i.price}}</td>               
                </tr>
        
            </tbody>
    
<thead class="thead-dark">
    <tr>
        <th></th>
        <th></th>
        <th>Total</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let s of sales">
        <td></td>
        <td></td>
        <td style="font-weight: 700; font-size: x-large;">{{s.total}}</td>
        <td></td>
    </tr>
</tbody>

        
        </table>

        <button (click)="salesList()" class="btn btn-secondary">Sales list</button>
    
    