.mat-row:hover {
    background-color: cadetblue;
  }

  .mat-header-cell {
    flex-direction: column;
    justify-content: center;
    font-size: large;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }

  #container{
    margin-left: 7%;
    margin-right: 7%;
  }